<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3>Login Page</h3>
              <form #name="ngForm" (ngSubmit)="f.form.valid && onSubmit(name)" #f="ngForm" novalidate>
                  <div class="form-group">
                      <label for="firstName"> UserName</label>
                      <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required ngModel/>
                      <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                          <div *ngIf="firstName.errors.required">First Name is required</div>
                      </div>
                  </div>


                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" ngModel/>
                      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                          <div *ngIf="password.errors.required">Password is required</div>
                          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary">LOGIN</button>
                  </div>
              </form>
          </div>
      </div>

  </div>
</div>
















